<!doctype html>
<title>Hello from Flask</title>
{% include 'includes/base.html' %}
  <h1>Hello World!</h1>

<h2>current information</h2>

uptime: {{ info.uptime }}

<h3>recent activity</h3>

<table>
<tr>
<th># of events</th><th>average events per second</th>
</tr>
<tr>
<td>{{info.numberofevents}}</td><td>{{info.eventspersecond}}</td>
</tr>
</table>

<h2>activity graphs</h2>
<!--<table>
<tr><td>recent activity</td><td>waveform</td></tr>
<tr>
<td> <div class="plot" src="graph/activity" /></td>
<td> <div class="plot" src="graph/waveform" /></td>
</tr>
<tr><td></td><td>xy-waveform</td></tr>
<tr>
<td></td>
<td> <div class="plot" src="graph/xy" /></td>
</tr>
</table>-->

<div id="activity_plot"/>
<script type="text/javascript">
$.getJSON($SCRIPT_ROOT + '/backend/tracker/activity', function(data) {

var width = 400;
var barWidth = width / data.length;
var height = 200;

var barDemo = d3.select("#activity_plot").
  append("svg:svg").
  attr("width", width).
  attr("height", height);

var x = d3.scale.linear().domain([0, data.length]).range([0, width]);
var y = d3.scale.linear().domain([0, d3.max(data)]).range([0, height]);

barDemo.selectAll("rect").
  data(data).
  enter().
  append("svg:rect").
  attr("x", function(datum, index) { return x(index); }).
  attr("y", function(datum, index) { return height - y(datum); }).
  attr("height", function(datum, index) { return y(datum); }).
  attr("width", barWidth).
  attr("fill", "#2d578b");
});
</script>