<!doctype html>
<title>Tracker status</title>
{% include 'includes/base.html' %}
  <h1>Tracker status</h1>

tracker runtime: {{ info.uptime }}, version: {{ info.version }} <br/>
hardware: firmware {{ info.firmware }}, baudrate {{ info.baudrate }}, gps type '{{ info.gps_hardware }}'

<table>
<tr>
<th colspan="2"> past {{ info.minutes }} minutes activity:</th>
<th>x/y of signal maxima</th>
</tr>
<tr>
<td colspan="2">
<div id="activity_plot"></div>
<table>
<tr>
<td align="right"># of events:</td><td>{{info.numberofevents}}</td>
</tr>
<tr>
<td>average events per second:</td><td>{{info.eventspersecond}}</td>
</tr>
</table>
</td>
<td><div id="amplitude_phase_plot"></div></td>
</tr>
<tr>
<th>last recorded waveform:</td>
</tr>
<tr>
<th>time-plot</th>
<th>xy-plot</th>
<th>normalized time-plot</th>
</tr>
<tr>
<td><div id="waveform_plot"></div></td>
<td><div id="xy_plot"/></td>
<td><div id="waveform_plot_normalized"></div></td>
</tr>
<tr>
<td colspan="3">
<div id="waveform_time"></div>
</td>
</tr>
</table>


<script type="text/javascript">
$.getJSON($SCRIPT_ROOT + '/backend/tracker/activity', function(data) {

var totalWidth = 400;
var totalHeight = 200;
var padding = 6;
var width = totalWidth - padding;
var height = totalHeight;
var barWidth = width / data.length;

var x = d3.scale.linear().domain([0, data.length]).range([0, width-1]);
var y = d3.scale.linear().domain([0, d3.max(data)]).range([height-1, 0]);

var barDemo = d3.select("#activity_plot").
  append("svg:svg").
  attr("width", totalWidth).
  attr("height", totalHeight);

/*barDemo.
  append("svg:rect").
  attr("x", 0).
  attr("y", 0).
  attr("height", totalHeight).
  attr("width", totalWidth).
  attr("stroke", "green").
  attr("fill", "#aaaaaa");*/

var dataGroup = barDemo.append("svg:g").
  attr("transform", "translate("+padding+",0)");

  dataGroup.selectAll("rect").
  data(data).
  enter().
  append("svg:rect").
  attr("x", function(datum, index) { return x(index); }).
  attr("y", function(datum, index) { return y(datum); }).
  attr("height", function(datum, index) { return y(0) - y(datum); }).
  attr("width", barWidth).
  attr("fill", "#88aaee");

dataGroup.selectAll("text").
  data(data).
  enter().
  append("svg:text").
  attr("x", function(datum, index) { return (x(index) + barWidth/2.0); }).
  attr("y", function(datum) { return y(datum); }).
  attr("dy", "1.2em").
  attr("text-anchor", "middle").
  text(function(datum) {if (datum == d3.max(data)) {return datum;}}).
  style("fill", "black").
  style("font-size", 8);

var axisGroup = barDemo.append("svg:g").
  attr("transform", "translate("+padding+",0)");

axisGroup.selectAll(".yTicks").
  data(d3.range(0, d3.max(data)+1)).
  enter().
  append("svg:line").
  attr("x1", -5).
  attr("y1", function(d) {return y(d);}).
  attr("x2", 0).
  attr("y2", function(d) {return y(d);}).
  style("stroke", "black").
  attr("class", "ytics");

axisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(0)).
  attr("x2", x(data.length)).
  attr("y2", y(0)).
  style("stroke", "black");

axisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(d3.max(data))).
  attr("x2", x(0)).
  attr("y2", y(0)).
  style("stroke", "black");

});
</script>

<script type="text/javascript">
$.getJSON($SCRIPT_ROOT + '/backend/data/raw/long/-1', function(data) {
var eventInfo = data[0];
var samplePeriod = eventInfo[6];
var maxAmplitude = eventInfo[7] / Math.sqrt(2) * 100
var maxPhase = eventInfo[8];
var maxIndex = eventInfo[9];
var data = eventInfo[10];

$('#waveform_time').text(eventInfo[0] + '.' + eventInfo[1] + ", peak " + maxAmplitude.toFixed(1) + '% @ ' + (maxIndex * samplePeriod/1000).toFixed(2) + ' us (' + maxIndex + ')');

var xdata = data[0];
var ydata = data[1];

var totalWidth = 400;
var totalHeight = 200;
var padding = 6;
var width = totalWidth - padding;
var height = totalHeight;

var x = d3.scale.linear().domain([0, xdata.length * samplePeriod]).range([0, width-1]);
var y = d3.scale.linear().domain([-1, 1]).range([height-1, 0]);

var waveformPlot = d3.select("#waveform_plot").
  append("svg:svg").
  attr("width", totalWidth).
  attr("height", totalHeight);

var dataGroup = waveformPlot.append("svg:g").
  attr("transform", "translate("+padding+",0)");

var timeLine = d3.svg.line().
    x(function(d, i) { return x(samplePeriod * i); }).
    y(function(d, i) { return y(d); }).
    interpolate("linear");

  dataGroup.append("svg:path").
    attr("d", timeLine(xdata)).
    style("stroke", "green").
    style("fill", "none");

  dataGroup.append("svg:path").
    attr("d", timeLine(ydata)).
    style("stroke", "red").
    style("fill", "none");

var timeAxisGroup = waveformPlot.append("svg:g").
  attr("transform", "translate("+padding+",0)");

timeAxisGroup.selectAll(".yTicks").
  data(d3.range(-1, 2)).
  enter().
  append("svg:line").
  attr("x1", -5).
  attr("y1", function(d) {return y(d);}).
  attr("x2", x(0)).
  attr("y2", function(d) {return y(d);}).
  style("stroke", "black").
  attr("class", "ytics");

timeAxisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", height - y(0)).
  attr("x2", x(xdata.length * samplePeriod)).
  attr("y2", height - y(0)).
  style("stroke", "black");

timeAxisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(1)).
  attr("x2", x(0)).
  attr("y2", y(-1)).
  style("stroke", "black");

width = totalHeight;
height = totalHeight;

x = d3.scale.linear().domain([-1, 1]).range([0, width-1]);
y = d3.scale.linear().domain([-1, 1]).range([height-1, 0]);

var xyPlot = d3.select("#xy_plot").
  append("svg:svg").
  attr("width", width).
  attr("height", height);

var xyDataGroup = xyPlot.append("svg:g");

var xyLine = d3.svg.line().
    x(function(d) { return x(d); }).
    y(function(d,i) { return y(ydata[i]); }).
    interpolate("linear");

  xyDataGroup.append("svg:path").
    attr("d", xyLine(xdata)).
    style("stroke", "green").
    style("fill", "none");

var xyAxisGroup = xyPlot.append("svg:g");

xyAxisGroup.
  append("svg:line").
  attr("x1", x(-1)).
  attr("y1", y(0)).
  attr("x2", x(1)).
  attr("y2", y(0)).
  style("stroke", "black");

xyAxisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(1)).
  attr("x2", x(0)).
  attr("y2", y(-1)).
  style("stroke", "black");

});
</script>

<script type="text/javascript">
$('#amplitude_phase_plot').empty().html('<img src="{{url_for('static', filename='loader.gif')}}">');
$.getJSON($SCRIPT_ROOT + '/backend/data/raw/time/-60', function(result) {

var data = new Array();

$.each(result, function(index, event) {
  var maxAmplitude = event[7];
  var maxPhase = event[8];
  var value = new Object();
  value.x = maxAmplitude * Math.cos(maxPhase);
  value.y = maxAmplitude * Math.sin(maxPhase);
  data.push(value);
});

var width = 300;
var height = 300;

var x = d3.scale.linear().domain([-1, 1]).range([0, width-1]);
var y = d3.scale.linear().domain([-1, 1]).range([height-1, 0]);

$('#amplitude_phase_plot').empty();

var polarPlot = d3.select("#amplitude_phase_plot").
  append("svg:svg").
  attr("width", width).
  attr("height", height);

var dataGroup = polarPlot.append("svg:g");
  dataGroup.selectAll("path.dot").
  data(data).
  enter().
  append("svn:path").
  attr("class", "dot").
  attr("stroke", "none").
  attr("fill", "green").
  attr("transform", function(d) { return "translate(" + x(d.x) + ", " + y(d.y) + ")"; }).
  attr("d", d3.svg.symbol().type("cross").size(15));

var axisGroup = polarPlot.append("svg:g");

axisGroup.
  append("svg:line").
  attr("x1", x(-1)).
  attr("y1", y(0)).
  attr("x2", x(1)).
  attr("y2", y(0)).
  style("stroke", "black");

axisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(1)).
  attr("x2", x(0)).
  attr("y2", y(-1)).
  style("stroke", "black");

});
</script>

<script type="text/javascript">
$.getJSON($SCRIPT_ROOT + '/backend/data/raw/normalized/-1', function(data) {
var eventInfo = data[0];
var samplePeriod = eventInfo[6];
var maxAmplitude = eventInfo[7] / Math.sqrt(2) * 100
var maxPhase = eventInfo[8];
var maxIndex = eventInfo[9];
var data = eventInfo[10];

var ndata = data[0];

var totalWidth = 400;
var totalHeight = 200;
var padding = 6;
var width = totalWidth - padding;
var height = totalHeight;

var x = d3.scale.linear().domain([0, ndata.length * samplePeriod]).range([0, width-1]);
var y = d3.scale.linear().domain([-1, 1]).range([height-1, 0]);

var waveformPlot = d3.select("#waveform_plot_normalized").
  append("svg:svg").
  attr("width", totalWidth).
  attr("height", totalHeight);

var dataGroup = waveformPlot.append("svg:g").
  attr("transform", "translate("+padding+",0)");

var timeLine = d3.svg.line().
    x(function(d, i) { return x(samplePeriod * i); }).
    y(function(d, i) { return y(d); }).
    interpolate("linear");

  dataGroup.append("svg:path").
    attr("d", timeLine(ndata)).
    style("stroke", "blue").
    style("fill", "none");

var timeAxisGroup = waveformPlot.append("svg:g").
  attr("transform", "translate("+padding+",0)");

timeAxisGroup.selectAll(".yTicks").
  data(d3.range(-1, 2)).
  enter().
  append("svg:line").
  attr("x1", -5).
  attr("y1", function(d) {return y(d);}).
  attr("x2", x(0)).
  attr("y2", function(d) {return y(d);}).
  style("stroke", "black").
  attr("class", "ytics");

timeAxisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", height - y(0)).
  attr("x2", x(ndata.length * samplePeriod)).
  attr("y2", height - y(0)).
  style("stroke", "black");

timeAxisGroup.
  append("svg:line").
  attr("x1", x(0)).
  attr("y1", y(1)).
  attr("x2", x(0)).
  attr("y2", y(-1)).
  style("stroke", "black");

});
</script>
