<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='jslib/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jslib/d3.v2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jslib/dsp.js') }}"></script>
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
