<!doctype html>
<html>
<head>
    {% block head %}
        <title>boWeb - {% block title %}{% endblock %}</title>
        {% include 'includes/head.html' %}
    {% endblock %}
</head>
<body role="document">
{% block navbar %}
    {% with active_page=active_page %}
    {% include "includes/navbar.html" %}
    {% endwith %}
{% endblock %}
<div class="container theme-showcase" role="main">
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block foot %}
        {% include "includes/foot.html" %}
    {% endblock %}
</div>
</body>
</html>
