{% set navigation_bar = [
    ('/', 'index', 'Overview'),
    ('/tracker/', 'tracker', 'Tracker'),
    ('/data/', 'data', 'Data'),
    ('/server/', 'server', 'Server'),
] -%}

{% set active_page = active_page|default('index') -%}

<header id="top" class="navbar navbar-inverse navbar-static-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">boWeb</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}><a
                            href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</header>
