<!doctype html>
<title>Blitzortung Data</title>
{% include 'includes/head.html' %}
<h1>Data Overview</h1>

<script type="text/javascript">
    $(document).ready(
            function () {
                $.getJSON($SCRIPT_ROOT + '/data/_get_date', {},
                        function (data) {
                            var items;
                            items = [];
                            $.each(data.result, function (index, date) {
                                items.push(new Option(date, date, index == 0, index == 0));
                            });
                            $('#result').html(items)
                                        .change();
                        });
                return true;
            });
</script>

<script type="text/javascript">
    function onDateChange() {
        var date = $('#result option:selected').val()

        $('#total').empty().html('<img src="{{url_for('static', filename='loader.gif')}}">');
        $('#avg_amp').empty().html('<img src="{{url_for('static', filename='loader.gif')}}">');
        $('#histogram').empty().html('<img src="{{url_for('static', filename='loader.gif')}}">');
        $.getJSON($SCRIPT_ROOT + '/data/_get_date/' + date,
                function (data) {
                    $('#total').text(data.total);
                    $('#avg_amp').text(data.avg_amp);
                });

        $.getJSON($SCRIPT_ROOT + '/data/_get_histogram/' + date, function (data) {

            var totalWidth = 400;
            var yAxisWidth = 40;

            var chartWidth = totalWidth - yAxisWidth;
            var barWidth = chartWidth / data.y.length;
            var chartHeight = 200;

            $('#histogram').empty();
            var barChart = d3.select("#histogram")
                    .append("svg:svg")
                    .attr("width", chartWidth)
                    .attr("height", chartHeight)
                    .attr("transform", "translate(" + yAxisWidth + ", 0)");


            var xScale = d3.scale.linear()
                                 .domain([0, data.x.length])
                                 .range([0, chartWidth]);
            var yScale = d3.scale.linear()
                                 .domain([0, d3.max(data.y)])
                                 .range([0, chartHeight]);

            barChart.selectAll("rect").
                    data(data.y).
                    enter().
                    append("svg:rect").
                    attr("x",function (datum, index) {
                        return xScale(index);
                    }).
                    attr("y",function (datum, index) {
                        return chartHeight - yScale(datum);
                    }).
                    attr("height",function (datum, index) {
                        return yScale(datum);
                    }).
                    attr("width", barWidth)
                    .attr("transform", "translate(" + yAxisWidth + ", 0)")
                    .attr("fill", "#2d578b");

            var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(5)
            barChart.append("svg:g")
                   .attr("class", "axis")
                   .attr("transform", "translate(" + yAxisWidth + ", 0)")
                   .call(yAxis);
        });
    }
</script>

<select id="result" onChange="onDateChange()">
</select>

<table>
    <tr>
        <th># of events</th>
        <th>average amplitude</th>
    </tr>
    <tr>
        <td id="total">asdf</td>
        <td id="avg_amp">asd</td>
    </tr>
</table>

<div id="histogram"></div>

